In [1]:
import pandas as pd
import xlrd

---

</br>

### 서울시 구별 CCTV

#### ✔ read_excel
- pandas의 read_excel()은 내부적으로 xlrd를 사용한다.

> $ pip install xlrd

> $ conda install -c anaconda xlrd

In [2]:
CCTV_Seoul = pd.read_excel('./cctv_in_seoul.xlsx')
CCTV_Seoul.head()

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [3]:
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기관명       25 non-null     object
 1   소계        25 non-null     int64
 2   2011년 이전  23 non-null     float64
 3   2012년     23 non-null     float64
 4   2013년     23 non-null     float64
 5   2014년     25 non-null     int64
 6   2015년     25 non-null     int64
 7   2016년     25 non-null     int64
 8   2017년     25 non-null     int64
 9   2018년     25 non-null     int64
dtypes: float64(3), int64(6), object(1)
memory usage: 2.1+ KB

In [4]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [5]:
CCTV_Seoul.columns[0]

'기관명'

In [6]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : "구별"}, inplace = True)
CCTV_Seoul.head()

      구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [7]:
CCTV_Seoul.describe()

,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년
count,25.000000,23.000000,23.000000,23.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,2219.720000,580.478261,123.826087,194.217391,249.920000,226.880000,267.360000,299.440000,349.480000
std,967.646523,488.248248,81.895528,135.556414,285.271935,144.643908,160.365956,216.219618,218.601067
min,858.000000,8.000000,7.000000,8.000000,21.000000,59.000000,21.000000,1.000000,9.000000
25%,1586.000000,228.500000,83.500000,106.500000,87.000000,130.000000,155.000000,136.000000,195.000000
50%,1935.000000,481.000000,108.000000,185.000000,134.000000,180.000000,254.000000,273.000000,328.000000
75%,2775.000000,775.500000,158.000000,235.000000,241.000000,268.000000,326.000000,372.000000,448.000000
max,5221.000000,1944.000000,387.000000,599.000000,1326.000000,609.000000,765.000000,933.000000,830.000000

---

</br>

### 서울시 인구

In [8]:
import csv

# contents = []

# with open('population_seoul.txt', 'r') as f:
#     reader = csv.reader(f, delimiter = "\tab")
#     for row in f:
#         contents.append(row)
        
# pd.DataFrame(f)

temp = pd.read_csv('population_seoul.txt', delimiter = '\t')
temp.head(10)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.2,"1,552,356"
3,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2,"28,396"
4,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
5,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
6,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
7,2020.3/4,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"
8,2020.3/4,동대문구,"167,232","358,679","176,433","182,246","344,416","170,748","173,668","14,263","5,685","8,578",2.06,"61,408"
9,2020.3/4,중랑구,"185,109","400,989","198,012","202,977","395,997","195,981","200,016","4,992","2,031","2,961",2.14,"68,658"

In [9]:
# txt 파일 및 불필요한 칼럼, 제거 등 데이터 가공
temp.rename(columns={temp.columns[0] : "기간",
                     temp.columns[1] : "자치구",
                     temp.columns[2] : "세대",
                     temp.columns[3] : "인구 총계",
                     temp.columns[4] : "인구(남)",
                     temp.columns[5] : "인구(여)",
                     temp.columns[6] : "한국인 총계",
                     temp.columns[7] : "한국인(남)",
                     temp.columns[8] : "한국인(여)",
                     temp.columns[9] : "등록 외국인 총계",
                     temp.columns[10] : "등록 외국인(남)",
                     temp.columns[11] : "등록 외국인(여)",
                     temp.columns[12] : "세대당인구",
                     temp.columns[13] : "65세이상고령자"}, inplace=True)
temp = temp.drop(0)
temp = temp.drop(1)
temp = temp.reset_index()

Population_Seoul = temp.iloc[0:,2:]
Population_Seoul.head(10)

,자치구,세대,인구 총계,인구(남),인구(여),한국인 총계,한국인(남),한국인(여),등록 외국인 총계,등록 외국인(남),등록 외국인(여),세대당인구,65세이상고령자
0,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.2,"1,552,356"
1,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2,"28,396"
2,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
5,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"
6,동대문구,"167,232","358,679","176,433","182,246","344,416","170,748","173,668","14,263","5,685","8,578",2.06,"61,408"
7,중랑구,"185,109","400,989","198,012","202,977","395,997","195,981","200,016","4,992","2,031","2,961",2.14,"68,658"
8,성북구,"195,379","449,871","216,155","233,716","439,719","212,151","227,568","10,152","4,004","6,148",2.25,"73,370"
9,강북구,"145,790","313,550","152,458","161,092","309,996","151,117","158,879","3,554","1,341","2,213",2.13,"62,951"

---
### CCTV와 인구현황 데이터 파악